../Screenshots/foo/scene01.png,15 
../Screenshots/foo/scene02.png,18
../Screenshots/foo/scene03.png,16
../Screenshots/foo/scene04.png,9
../Screenshots/bar/scene05.png,6
../Screenshots/bar/scene06.png,26
../Screenshots/bar/scene07.png,15
../Screenshots/bar/scene08.png,18.5
../Screenshots/bar/scene09.png,13.5
../Screenshots/bar/scene10.png,26
../Screenshots/bar/scene11.png,19
../Audio/foo.wav
